html {
  font-family: 'Roboto', sans-serif;
}

.row-container {
	width: 520px;
	margin-left: auto;
	margin-right: auto;
}

.flippy {
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  -ms-perspective: 600px;
  perspective: 600px;
  margin: 10px 10px 10px 0;
  cursor: pointer;
  width: 250px;
  height: 140px;
  display: inline-block;
}

.flippy .flippy-front div {
  height: 100%;
  width: 100%;
  float: left;
}

.flippy .flippy-back div {
  height: 100%;
  width: 100%;
  float: left;
}

.flippy-front {
  position: relative;
  z-index: 900;
  width: inherit;
  height: inherit;
  -webkit-transform: rotate3d(0, 0, 0, 0deg);
  -moz-transform: rotate3d(0, 0, 0, 0deg);
  -ms-transform: rotate3d(0, 0, 0, 0deg);
  transform: rotate3d(0, 0, 0, 0deg);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: all 0.8s ease-in-out;
  float: none;
  top: 0;
  left: 0;
  z-index: 900;
  width: inherit;
  height: inherit;
  border: 1px solid #ccc;
  background: white;
  text-align: center;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.9);  
  padding: 30px;
  color: black;
}
.flippy-back {
  position: absolute;
  z-index: 800;
  width: inherit;
  height: inherit;
  -webkit-transform: rotate3d(0, 1, 0, -180deg);
  -moz-transform: rotate3d(0, 1, 0, -180deg);
  -ms-transform: rotate3d(0, 1, 0, -180deg);
  transform: rotate3d(0, 1, 0, -180deg);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: all 0.8s ease-in-out;
  float: none;
  top: 0;
  left: 0;
  z-index: 800;
  width: inherit;
  height: inherit;
  border: 1px solid #ccc;
  background: white;
  text-align: center;
  padding: 30px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.9);  
  color: black;
}

.flippy .flippy-front.flipped {
  z-index: 900;
  -webkit-transform: rotate3d(0, 1, 0, 180deg);
  -moz-transform: rotate3d(0, 1, 0, 180deg);
  -ms-transform: rotate3d(0, 1, 0, 180deg);
  transform: rotate3d(0, 1, 0, 180deg);
  transition: all 0.8s ease-in-out;
  border-color: #eee;
  /*background: #333;*/
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);

}
.flippy .flippy-back.flipped {
  z-index: 1000;
  -webkit-transform: rotate3d(0, 0, 0, 0deg);
  -moz-transform: rotate3d(0, 0, 0, 0deg);
  -ms-transform: rotate3d(0, 0, 0, 0deg);
  transform: rotate3d(0, 0, 0, 0deg);
  transition: all 0.8s ease-in-out;
  border-color: #eee;
  /*background: #80868d;*/
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
}